{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


</head>


<body>
<div id="mainbody">
    <div align="center"><h1>Emo Detect</h1></div>

    <div class="container col-lg-6">
        <div style="padding-bottom: 0.5cm">
            <div class="card text-center bg-light">
                <div class="card-body" style="padding-bottom: 0.2cm">
                    <input class="card-title form-control" type="text" id="input" name="input" placeholder="Type here..."/><br>
                    <button class="card-text btn btn-outline-primary" id="btn">Predict Sentiment</button>
                    <div class="spinner" id="spinner" style="display: none">
                      <div class="double-bounce1"></div>
                      <div class="double-bounce2"></div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <pre class="card-text api-pre" style="padding-bottom: 0.2cm"><br>
                        <div class="item" id="api_input">Sentiment is shown here </div><br>
                        <div class="item" id="api_output"> Score of your Sentiment is shown here </div>
                    </pre>
                        <a class="card-text btn btn-outline-primary" style="alignment: center" id="view" href="/sentiment/hist/">Generate Chart</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">

	function get_sentiment(text){
		$.ajax({
        url: '/analysis/',
        data: {
            'sentence':text
        },
        dataType: 'json',
        success: function (data) {

            $('#api_input').html(data.b);
            if(data.score > 0){
            document.getElementById("mainbody").style.backgroundColor = "lightblue";
            }else if(data.score < 0){
            document.getElementById("mainbody").style.backgroundColor = "red";
            }
              $('#api_output').html(data.score);

        }
      });

	}

function get_sentiment1(text){
		$.ajax({
        url: '/analysis/',
        data: text,
            traditional:true,
        dataType: 'json',
        success: function (data) {

            $('#api_input').html(data.b);
            if(data.score > 0){
            document.getElementById("mainbody").style.backgroundColor = "lightblue";
            }else if(data.score < 0){
            document.getElementById("mainbody").style.backgroundColor = "red";
            }
              $('#api_output').html(data.score);

        }
      });

	}

	$(document).ready(function(){
		$('#btn').click(function(){
			var input = $("#input").val();;
			var com = { 'strr': input};
			get_sentiment1(com);
			input = "";
		})
	})

</script>


</html>